$lightBlue: #333646;
$darkBlue: #252734;
$red: #c2554e;
$yellow: #ffc25c;

$hPadding: clamp(1.5rem, 15vw, 20rem);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

p {
  padding-bottom: 1.5em;
}

a.cta:hover {
  text-decoration: underline;
}

section {
  $vPadding: 5rem;
  padding-top: $vPadding;
  padding-bottom: $vPadding;
}

.about,
.contact {
  padding-left: $hPadding;
  padding-right: $hPadding;
}

.about,
.skills,
.services {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: $hPadding;
    right: $hPadding;
    height: 1px;
    opacity: 0.4;
    background-color: $red;
    border-radius: 99999px;
  }
}

h3 {
  margin-bottom: 1.5em;
  font-size: clamp(1.2rem, 5vw, 2rem);
}

.heading {
  h4 {
    opacity: 0.8;
    letter-spacing: 0.2em;
    font-weight: normal;

    &::before {
      content: "— ";
    }
  }
}

body {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: $darkBlue;
}

img {
  border: none;
  max-width: 100%;
}

footer {
  background-color: $lightBlue;
  padding: 5rem $hPadding;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 2vw, 2rem);

  a img {
    height: clamp(1.5rem, 2vw, 2rem);
  }
}
// HERO //
.hero {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;

  @media only screen and (min-width: 1024px) {
    background: url("/img/side-element.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 30rem 100%;
  }

  .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $lightBlue;
      opacity: 0.85;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: blur(2px);
      transform: scale(1.1);
    }
  }

  header {
    display: flex;
    justify-content: space-between;

    .social-media {
      padding-left: $hPadding;
      padding-top: 2rem;
      padding-bottom: 2rem;

      @media only screen and (min-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    }

    .darken-bg.active {
      background-color: #000;
      opacity: 0.7;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    nav {
      @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: $yellow;
        right: -100%;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 20;
        transition: 0.5s right ease;
        &.active {
          right: 0;
        }

        a {
          padding: 1em 2em;
          color: $darkBlue;
        }
      }

      @media only screen and (min-width: 768px) {
        display: flex;
        padding-right: $hPadding;
        padding-left: 7rem;
        position: relative;
        align-items: center;
        gap: 1rem;

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          right: 0;
          top: 0;
          width: 100%;
          height: 250%;

          background: url("/img/top-right-corner-desktop.svg");
          background-size: 100% 100%;
        }

        a {
          color: $darkBlue;
          font-weight: bold;
          transition: 0.1s all ease;
          padding: 0.5em 1em;
          border-radius: 100px;

          &:hover {
            background-color: $red;
            color: #fff;
          }
        }
      }
    }

    button.hamburger {
      background: none;
      border: none;
      position: relative;
      padding: 2rem $hPadding;

      @media only screen and (min-width: 768px) {
        display: none;
      }

      &:focus {
        outline: 0;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 120%;
        height: 200%;
        background: url("/img/top-right-corner-mobile.svg");
        background-size: 100% 100%;

        @media only screen and (min-width: 768px) {
          background: none;
        }
      }
    }
  }

  img.hauke {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60%;

    @media only screen and (min-width: 1024px) {
      right: calc(30rem * (278 / 489));
      height: 70%;
    }
  }

  .content {
    padding: 2rem $hPadding;
    padding-right: 0;
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .subtitle {
      margin-bottom: 0.5rem;
      font-family: "Courier New", Courier, monospace;
      font-size: clamp(1rem, 1vw, 1.2rem);
    }

    h1 {
      position: relative;
      line-height: 1.2em;
      width: fit-content;
      margin-bottom: 3rem;
      font-size: clamp(3rem, 10vw, 5rem);

      &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        bottom: -0.15em;
        height: 0.15em;
        background-color: $yellow;
        border-radius: 9999px;
      }
    }

    .features {
      list-style-type: none;
      flex-grow: 1;
      font-size: clamp(1.12rem, 1.2vw, 1.5rem);
    }

    a.cta {
      font-weight: bold;
      color: $yellow;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      width: 80%;
      font-size: clamp(1rem, 1vw, 1.2rem);
      .arrow {
        margin-right: 0.5em;
      }
    }
  }
}

// ABOUT //
.about {
  .container {
    background-color: $lightBlue;
    padding: 2rem;
    position: relative;
    padding-bottom: 30vw;
    margin-bottom: 30vw;

    h2 {
      font-size: clamp(1.5rem, 5vw, 1.8rem);
      margin-bottom: 0.5rem;
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 4rem;
      padding-bottom: 2rem;

      .content {
        width: 50%;
      }
    }

    img {
      z-index: 1;
      position: relative;
    }

    .img-wrapper {
      position: absolute;
      left: 2rem;
      right: 2rem;
      margin-top: 1rem;
      img {
        width: 100%;
      }

      @media only screen and (min-width: 768px) {
        left: initial;
        right: -4rem;
        bottom: -4rem;
        width: 40%;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: calc(100% - 7px);
      }

      $bgShift: 10px;

      &::after {
        background-color: $red;
        left: 0;
        transform: translate(-$bgShift, -$bgShift);
      }

      &::before {
        background-color: $yellow;
        right: 0;
        transform: translate($bgShift, $bgShift);
      }
    }
  }
}

// SKILLS //
.skills {
  h3 {
    padding: 0 $hPadding;
  }

  .categories {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0 $hPadding;
    gap: 2rem;

    .category {
      .heading {
        font-weight: bold;
        color: $yellow;
        text-transform: uppercase;
      }

      ul {
        li {
          list-style-type: none;
          margin-bottom: 0.5em;

          &::before {
            content: "▶";
            padding-right: 1ch;
          }
        }
      }
    }
  }
}

// PORTFOLIO //
.projects {
  .heading {
    padding: 0 $hPadding;
  }

  ul {
    li {
      list-style-type: none;
      --project-color: red;

      .info {
        padding: 2rem $hPadding;
        padding-bottom: 6rem;
        margin-bottom: -5rem;
        background: $lightBlue;
        display: flex;
        flex-direction: column;

        .title {
          font-weight: bold;
          color: $yellow;
          font-size: clamp(1rem, 5vw, 1.8rem);
        }

        .subtitle {
          color: $yellow;
          font-style: italic;
          opacity: 0.85;
          font-size: clamp(0.9rem, 2vw, 1.2rem);
        }

        .text {
          padding: 1.5rem 0;
          font-size: clamp(1rem, 2vw, 1.2rem);
        }

        a.cta {
          color: $yellow;
          text-transform: uppercase;
          font-weight: bold;
          font-size: clamp(1rem, 2vw, 1.2rem);

          &::after {
            content: "▶";
            margin-left: 1ch;
          }
        }
      }

      .img-wrapper {
        position: relative;

        img {
          border-radius: 30px 0 0 30px;
        }

        &::before {
          position: absolute;
          content: "";
          bottom: -1.5rem;
          z-index: -1;
          right: 0;
          width: 80%;
          height: 3rem;
          background-color: var(--project-color);
          border-radius: 30px 0 0 30px;
          opacity: 0.15;
        }
      }

      &:nth-child(2n) {
        .img-wrapper {
          img {
            border-radius: 0 30px 30px 0;
          }

          &::before {
            right: initial;
            left: 0;
            border-radius: 0 30px 30px 0;
          }
        }
      }

      @media only screen and (max-width: 767px) {
        .img-wrapper {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 5rem;

          img {
            height: 10rem;
          }
        }

        &:nth-child(2n) {
          .img-wrapper {
            justify-content: flex-start;
          }
        }
      }

      @media only screen and (min-width: 768px) {
        display: flex;
        padding-left: $hPadding;
        gap: 5rem;
        margin-bottom: 10rem;

        .info {
          background: none;
          padding: 0;
        }

        .img-wrapper {
          flex: 0 0 50%;
          // margin-right: $hPadding;

          img {
            width: 100%;
          }

          &::before {
            width: 140%;
            height: 6rem;
            bottom: -3rem;
          }
        }

        &:nth-child(2n) {
          flex-direction: row-reverse;
          justify-content: flex-end;
          padding-right: $hPadding;
          padding-left: 0;
        }
      }
    }
  }
}

// SERVICES //
.services {
  position: relative;

  > * {
    padding: 0 $hPadding;
  }

  &::before {
    z-index: -1;
    content: "";
    background-color: $red;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10rem;
    position: absolute;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: visible;

    .card {
      position: relative;
      overflow: visible;

      flex: 0 0 auto;
      display: inline-block;
      width: $hPadding;
      width: 18rem;
      margin-right: 2em;

      .title {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 0.5em;
      }

      .content {
        position: relative;
        color: #000;
        padding: calc(40px + 2em) 2em 2em 2em;
        top: 0;
      }

      svg {
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// CONTACT //
.contact {
  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    form {
      display: flex;
      flex-direction: column;

      .sender-info {
        @media only screen and (min-width: 768px) {
          display: flex;
          justify-content: space-between;
          > * {
            flex-grow: 1;
          }

          gap: 2rem;
        }
      }

      label {
        display: flex;
        flex-direction: column;

        .container {
          background-color: $lightBlue;
          border-radius: 10px 10px 0 0;
          margin-left: 1rem;
          padding: 0.5rem 1rem;
          width: fit-content;
        }
      }

      input,
      textarea {
        background-color: #fff;
        border: 0;
        outline: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
      }

      textarea {
        resize: vertical;
      }

      button {
        background: 0;
        outline: 0;
        border: 0;
        background-color: $yellow;
        color: $darkBlue;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 30px;
        padding: 1em 2em;
      }
    }

    .more-contact {
      background-color: #fff;
      border-radius: 1rem;
      color: $lightBlue;
      padding: 1.2rem;

      .heading {
        font-weight: bold;
      }

      ul {
        li {
          padding: 1rem 0;
          list-style-type: none;
          display: flex;
          img {
            width: 1.5rem;
            margin-right: 1em;
          }

          a {
            color: $lightBlue;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;

      form {
        flex-grow: 1;

        button {
          width: 15rem;
          align-self: flex-end;
        }
      }

      .more-contact {
        padding: 2rem;
      }
    }
  }
}

// FOOTER //
footer {
  .legal-links,
  .copyright {
    opacity: 0.8;
  }

  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2rem;
  font-size: 0.9rem;

  .legal-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-column: 1 / 2;
  }

  .copyright {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
  }
}
