---
import Project from "../Project.astro";
---

<section class="projects" id="portfolio">
    <div class="heading">
        <h4>Portfolio</h4>
        <h3>Meine bisherigen Projekte</h3>
    </div>
    <ul>
        <Project
            title="IGS Lilienthal Website"
            subtitle="reDesign, custom CMS, Backend"
            href="https://igs.haukeschnau.de"
            ctaText="Website besuchen"
            imgUrl="/img/projects/igs.png"
            imgAlt="Screenshot der Website der IGS Lilienthal"
            color="#3c81db"
        >
            Auf Anfrage einer meiner Lehrer habe ich die Website meiner Schule
            modernisiert und neu strukturiert. Dafür habe ich auch ein eigenes
            Content Management System entwickelt, um in meiner Freizeit noch
            weitere, etwas komplexere Funktionalität hinzufügen zu können.</Project
        >

        <Project
            title="Karaoke-App"
            subtitle="Spaß für groß und klein"
            href="https://github.com/HaukeSchnau/Karaoke"
            ctaText="Projekt auf GitHub"
            imgUrl="/img/projects/karaoke.png"
            imgAlt="Screenshot der Web-App"
            color="#0C3CC4"
        >
            Mit einer Suche von Spotify, Musik von YouTube, Lyrics von
            MusixMatch und einem KI-Alogrithmus zum Trennen von Gesang und
            Instrumental von Deezer ist dies ein echtes Frankenstein-Projekt.
            Dennoch hat es mir und meinen Freunden schon einige lustige Abende
            bereitet.</Project
        >

        <Project
            title="IGS Lilienthal App"
            subtitle="digitaler Begleiter für Schüler; unterstützt iOS & Android"
            href="https://play.google.com/store/apps/details?id=de.haukeschnau.igs_lilienthal"
            ctaText="App herunterladen"
            imgUrl="/img/projects/igs-app.png"
            imgAlt="Screenshots der Android- und iOS-App der IGS-Lilienthal"
            color="#33a42b"
        >
            Diese App dient als mobiler Client für iServ mit einigen
            zusätzlichen Funktionen. Beispielsweise erhält man eine
            personalisierte Übersicht über Vertretungsplan, Klausuren und
            Hausaufgaben. Besonders gut hat meinen Mitschülern gefallen, dass
            sie u.a. problemlos ihre Noten im Blick behalten konnten und
            rechtzeitig Benachrichtigungen über Freistunden bekommen haben.</Project
        >

        <Project
            title="Mein Lilienthal"
            subtitle="Umfragen an die Bürger Lilienthals"
            ctaText="App herunterladen"
            imgUrl="/img/projects/meinlilienthal.png"
            imgAlt="Screenshots der Handy-App 'Mein Lilienthal'"
            color="#002BAD"
            href="https://play.google.com/store/apps/details?id=de.loginsolutions.mein_lilienthal"
        >
            <p>
                Für die Gemeinde Lilienthal habe ich gemeinsam mit einigen
                Mitschülern eine App entwickelt, die es der Gemeinde ermöglicht,
                Umfragen an die Bewohner Lilienthals zu stellen und auszuwerten.
            </p>

            <p>
                Zu dem Projekt gehören sowohl eine iOS- und Android-App, mit der
                Bürger*innen an den Umfragen teilnehmen können, als auch ein
                Admin-Panel für den Browser, das zur Erstellung und Auswertung
                der Umfragen genutzt wird.
            </p>
        </Project>

        <Project
            title="Schema Editor"
            subtitle="visuelle Bearbeitung eines Dömanen-Modells"
            href="https://github.com/HaukeSchnau/Schema-Editor"
            ctaText="Projekt auf GitHub"
            imgUrl="/img/projects/model-editor.png"
            imgAlt="Screenshot der Web-App"
            color="#C9ADA7"
        >
            Um neue Projekte schneller und zuverlässiger umsetzen zu können,
            habe ich einen einfachen Editor für Datenmodelle entwickelt, der
            auch Code in verschiedenen Programmiersprachen für das definierte
            Datenmodell generieren kann. Er erleichtert meine Arbeit und wächst
            stets weiter. Weitere geplante Features beinhalten bspw.
            Dokumentation des Modells und Anbindung an eine Datenbank, um
            Datensätze und ihre Beziehungen angemessen zu visualisieren.</Project
        >

        <Project
            title="Kreisschülerrat OHZ"
            subtitle="Webauftritt & Landing Page"
            ctaText=""
            imgUrl="/img/projects/ksr.png"
            imgAlt="Screenshot der Website des KSR OHZ"
            color="#611c35"
            >Im Zuge der Öffentlichkeitsarbeit hat sich der Kreisschülerrat des
            Landkreises Osterholz, in dem ich Mitglied bin, für eine eigene
            Website entschieden. Hier stellen wir uns vor und präsentieren
            unsere Projekte für die Schüler in der Region.</Project
        >

        <Project
            title="Server Manager"
            subtitle="internes Tool"
            ctaText=""
            imgUrl="/img/projects/ksr.png"
            imgAlt=""
            color="#611c35"
        >
            Eine grafische Oberfläche, mit der ich immer einen Überblick über
            meinen Server und meine Apps mit wenigen Mausklicken à la Railway,
            Vercel oder Netlify deployen kann. Sie ist besonders nützlich, wenn
            ich gerade unterwegs bin und z.B. Server-Logs einsehen möchte, ohne
            eine SSH-Session starten zu müssen.
        </Project>
    </ul>
</section>

<style>
    .heading {
        padding-inline: var(--hPadding);
    }
</style>
