<section class="skills" id="skills">
    <h3>Meine Skills</h3>
    <div class="categories">
        <div class="category">
            <div class="heading">Sprachen</div>
            <ul>
                <li>JavaScript (ES6+, Browser + Node)</li>
                <li>TypeScript</li>
                <li>HTML5</li>
                <li>CSS3/SCSS</li>
                <li>Python</li>
                <li>Dart</li>
                <li>Java/Kotlin</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">Frameworks & Libraries</div>
            <ul>
                <li>React</li>
                <li>Flutter</li>
                <li>Express.js</li>
                <li>Next.js</li>
                <li>Astro</li>
                <li>MobX</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">
                Sonstige
            </div>
            <ul>
                <li>PostgreSQL</li>
                <li>MongoDB</li>
                <li>Linux Bash</li>
                <li>Git & GitHub</li>
                <li>Figma + Prototyping</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">
                Ich lerne aktuell...
            </div>
            <ul>
                <li>Rust</li>
                <li>WebAssembly</li>
                <li>Svelte</li>
                <li>Solid.js</li>
            </ul>
        </div>
    </div>
</section>
<style>
    h3 {
        padding: 0 var(--hPadding);
    }

    .categories {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding: 0 var(--hPadding);
        gap: 2rem;
    }

    .heading {
        font-weight: bold;
        color: var(--yellow);
        text-transform: uppercase;
    }

    li {
        list-style-type: none;
        margin-bottom: 0.5em;
    }

    li::before {
        content: "▶";
        padding-right: 1ch;
    }
</style>