<section class="skills" id="skills">
    <h3>Meine Skills</h3>
    <div class="categories">
        <div class="category">
            <div class="heading">Sprachen</div>
            <ul>
                <li>JavaScript (ES6+)</li>
                <li>TypeScript</li>
                <li>HTML5</li>
                <li>CSS3/Sass</li>
                <li>Python</li>
                <li>SQL</li>
                <li>Dart</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">Frameworks</div>
            <ul>
                <li>React</li>
                <li>Flutter</li>
                <li>Vue</li>
                <li>Express.js</li>
                <li>Next.js</li>
                <li>Node.js</li>
                <li>Astro</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">Tools</div>
            <ul>
                <li>Linux Bash</li>
                <li>Git & Github</li>
                <li>Chrome DevTools</li>
                <li>Postman</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="category">
            <div class="heading">Design</div>
            <ul>
                <li>Adobe XD</li>
                <li>Figma</li>
                <li>Prototyping</li>
                <li>Wireframing</li>
            </ul>
        </div>
    </div>
</section>
<style>
    h3 {
        padding: 0 var(--hPadding);
    }

    .categories {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding: 0 var(--hPadding);
        gap: 2rem;
    }

    .heading {
        font-weight: bold;
        color: var(--yellow);
        text-transform: uppercase;
    }

    li {
        list-style-type: none;
        margin-bottom: 0.5em;
    }

    li::before {
        content: "▶";
        padding-right: 1ch;
    }
</style>