<div class="social-media">
    <a href="https://instagram.com/haukeschnau"><img src="/img/instagram.svg" alt="Instagram" /></a>
    <a href="https://xing.com/profile/Hauke_Schnau"><img src="/img/xing.svg" alt="Xing" /></a>
    <a href="https://linkedin.com/in/haukeschnau"><img src="/img/linkedin.svg" alt="LinkedIn" /></a>
    <a href="https://github.com/HaukeSchnau"><img src="/img/github.svg" alt="GitHub" /></a>
</div>

<style>
    .social-media {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(1rem, 2vw, 2rem);
    }

    .social-media a img {
        height: clamp(1.5rem, 2vw, 2rem);
    }
</style>