<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
  <meta name="description"
    content="Ich entwickle moderne Anwendungen mit Fokus auf Performance, Sicherheit und einer angenehmen User Experience." />
  <meta name="author" content="Hauke Schnau" />
  <meta property="og:title" content="Hauke Schnau: Web- und App-Entwicklung" />
  <meta property="og:description"
    content="Ich entwickle moderne Anwendungen mit Fokus auf Performance, Sicherheit und einer angenehmen User Experience." />
  <meta name="image" content="https://haukeschnau.de/img/og.png" />
  <meta name="og:image" content="https://haukeschnau.de/img/og.png" />
  <title>Hauke Schnau: Web- und App-Entwicklung</title>
  <link rel="stylesheet" href="dist/css/main.css" />
  <link rel="icon" type="image/svg" href="/img/favicon.svg" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
    rel="stylesheet" />
</head>

<body>
  <slot />
</body>

</html>

<style>
  :root {
    --lightBlue: #333646;
    --darkBlue: #252734;
    --red: #c2554e;
    --yellow: #ffc25c;

    --hPadding: clamp(1.5rem, 15vw, 20rem);

    /* --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); */

    --color-text: #fff;
    /* --color-bg: hsl(10, 21%, 95%);
    --color-border: hsl(17, 24%, 90%); */
  }

  body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    /* font-size: var(--font-size-base); */
    color: var(--color-text);
    background-color: var(--darkBlue);
  }
</style>
<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  p {
    padding-bottom: 1.5em;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    border: none;
    max-width: 100%;
  }

  section {
    padding-block: 5rem;
    position: relative;
  }

  section:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--hPadding);
    right: var(--hPadding);
    height: 1px;
    opacity: 0.4;
    background-color: var(--red);
    border-radius: 99999px;
  }

  h3 {
    margin-bottom: 1.5em;
    font-size: clamp(1.2rem, 5vw, 2rem);
  }

  .heading h4 {
    opacity: 0.8;
    letter-spacing: 0.2em;
    font-weight: normal;
  }

  .heading h4::before {
    content: "— ";
  }

  button.btn {
    background: 0;
    outline: 0;
    border: 0;
    background-color: var(--yellow);
    color: var(--darkBlue);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    padding: 1em 2em;
    cursor: pointer;
  }

  button.btn:hover {
    background-color: #d5a34f;
  }
</style>